*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* Landing */
#landing {
    border: 1px solid black;
}

/* About Section */

.about_img img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 50px;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.title:hover {
    text-decoration: line-through;
    cursor: pointer;
    
}
/* Contact section */
.Jumbotron {
    width: 100%;
    height: 500px;
    background-image: url(./images/istockphoto-1307794659-170667a.jpg);
    background-attachment: fixed;
}

.Jumbotron h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}
.Jumbotron h1:hover {
   text-decoration: line-through dotted lightslategray;
}
#particles-js {
    background-color: black;
}

/* .contact-details {
    height: 50vh;
    
} */
/* Project */
.project {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.staff {
    position: relative;
  }
  .staff img {
      width: 100%;
      height: 500px;
      border-radius: 20px;
      background-size: cover;
  }
  
  .staff-details {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.3s linear;
    border-radius: 20px;
  }
  
  .staff:hover .staff-details {
    opacity: 1;
  }

/* Testimonial Section */
#testimonial .container{
    height: 60vh;
}

.title h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}

@media (max-width: 768px) {
    .Jumbotron h1 {
        font-size: 3rem;
    }
}