*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body {
    background-image: url(./images/annie-spratt-6a3nqQ1YwBw-unsplash\ \(1\).jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* Landing */
#landing {
    border: 1px solid black;
    background-image: url(./images/josh-rose-trYl7JYATH0-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.about-btn button{
    background-color: transparent;
    border: none;
}
.about-btn button{
    background-color: transparent;
    border: none;
}
.about-btn button:hover{
    text-shadow: 2px 2px white;
}
.titles:hover {
    transform: rotate(-90deg);
    cursor: pointer;
    text-shadow: 2px 2px lightslategray;
}

.titles h1 {
    font-size: 5rem;
    font-weight: bold;
    
}


/* About Section */
#About .container {
    border-radius: 20px;
}
.About_img img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 50px;
}

.title {
    font-size: 5rem;
    
    font-family: 'Alfa Slab One';

}
.title h2 {
    font-family: 'Alfa Slab One';
}
.title:hover {
    transform: rotate(-15deg);
    cursor: pointer;
    position: relative;
    text-shadow: 5px 5px black;
    
}
/* skills */
#skills .container {
    background-color: #afafaf;
    border-radius: 20px;
}
.titles1 h2 {
    font-size: 4rem;
    font-family: 'Alfa Slab One';
}
.soft ul li {
    font-size: 20px;
}
.titles1 h2:hover {
    text-decoration: line-through white;
}
i {
    font-size: 80px;
    text-align: center;
}
.skills-item{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    width: 100px;
    align-items: center;
}
 
.skills-item:hover{
   color: white;
   text-shadow: 2px 2px black;
   cursor: crosshair;
   border-radius: 50%;
   background-color: #212529;
}
#skills .row .col-md-6{
    border: 1px solid white;
    border-radius: 20px;
    /* background: #212529;
    color: white; */
}
/* Contact section */
#contact .container {
    border-radius: 20px;
    padding-top: 10px;
}
.Jumbotron {
    width: 100%;
    height: 500px;
    background-image: url(./images/josh-rose-trYl7JYATH0-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 20px;
}
.Jumbo .container {
    margin-top: 20px;
}
.Jumbotron h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}
.Jumbotron h1:hover {
   text-decoration: line-through;
}
#particles-js {
    background-color: black;
}
.map{
    border: 5px solid #212529;
    border-radius: 20px;
}
.map iframe{
    border: 5px solid #212529;
    border-radius: 20px;
    width: 418px;
    height: 300px;
}
form button {
    background-color: #212529;
    color: white;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
}
form button:hover{
    background: white;
    color: black;
    font-weight: bold;
}
/* .contact-details {
    height: 50vh;
    
} */
/* Project */
#project .container {
    border-radius: 20px;
}
.project {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

/* #project h2 {
    transform: rotate(-15deg);
    z-index: 100;
    position: relative;
} */
/* resume  */
/* .education {
    border-right: 5px solid white;
}

.education:hover {
    border-right: 10px solid white;
}
.experience:hover {
    border-left: 10px solid black;
} */
#resume .container {
    border-radius: 20px;
}
.staff {
    position: relative;
  }
  .staff img {
      width: 100%;
      height: 500px;
      border-radius: 20px;
      background-size: cover;
  }
  
  .staff-details {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: all 0.3s linear;
    border-radius: 20px;
    cursor: crosshair;
  }

  .staff-details button {
      background-color: transparent;
      font-size: 32px;
      color: white;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 20px;
      width: 150px;
  }

  .staff-details button:hover {
      background-color: lightslategray;
      border: none;
      
  }
  
  .staff:hover .staff-details {
    opacity: 1;
  }

/* Testimonial Section */
#testimonial .container{
    height: 60vh;
    border-radius: 20px;
}

#testimonial .card {
    border: none;
    background: transparent;
}

.t_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.title h2 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Alfa Slab One';
}
@media (max-width: 1286px) {
    .map{
        width: 370;
    }
    .map iframe{
        width: 350px;
    }
    #resume .accorodion{
        display: none;
    }
}
@media (max-width: 992px) {
    .map,iframe {
        display: none;
    }
    div.col-md-5{
        display: none;
    }
    .Jumbotron {
        height: 300px;
    }
    .jumbo{
        font-size: 3rem;
    }
}
@media (max-width: 768px) {
    .Jumbotron h1 {
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.9px;
    }
}
@media (max-width: 500px) {
    #about {
        padding: 20px;
    }
    #about h2 {
        font-size: 3rem;
    }
    .about_img {
        display: none;
    }
    .Jumbotron {
        height: 200px;
    }
    .Jumbotron h1 {
        font-size: 2rem;
    }
    #contact {
        padding: 10px;
    }
    #resume {
        padding: 20px;
    }
    .rounded-circle {
        display: none;
    }
    #skills {
        padding: 20px;
    }
    /* .row .skills-item{
        width: 150px;
        display: flex;
        flex-wrap: wrap;
    }
    #skills .row{
        display: flex;
        flex-wrap: wrap;
    } */
    #testimonial h2 {
        font-size: 3rem;
        letter-spacing: 1px;
    }
    #testimonial {
        padding: 20px;
    }
    .title h2 {
        font-size: 3rem;
        letter-spacing: 2px;
    }
}